.DS_Store

# Craft runtime and backups folders
# ----------------------------------------------------------------------
/craft/storage/*
!/craft/storage/logo/*

# Uploaded files
# ----------------------------------------------------------------------
/public/assets/uploads/*
!/public/assets/uploads/.gitignore
